@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Models.Models.Identity.AccountViewModels.LoginViewModel;
@{
    ViewData["Title"] = "Log in";
}

<section class="py-7 py-md-10 bg-light ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
               
                <div class="card">
                    <div class="bg-primary text-center py-4">
                        <h2 class="text-white mb-0 h4">Inicia sesión</h2>
                    </div>
                    <div class="card-body px-7 pt-7 pb-0">
                        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                            <div class="form-group mb-7">
                                <label for="exampleInputText">Email*</label>
                                <input asp-for="Email" type="text" class="form-control" aria-describedby="emailHelp" required>
                                <em>Ingresa tu correo.</em>
                            </div>
                            <div class="form-group mb-7">
                                <label for="exampleInputPassword1">Contraseña*</label>
                                <input asp-for="Password" type="password" class="form-control" required>
                                <em>Ingresa tu contraseña.</em>
                            </div>
                            <div class="form-group d-flex justify-content-between align-items-center mb-7">
                                <button type="submit" class="btn btn-outline-primary text-uppercase">
                                    Ingresar
                                </button>
                                <a href="#FogotPassword">Olvidaste tu contraseña?</a>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer bg-transparent text-center py-3">
                        <p class="mb-0">No te has registrado aún? <a href="sign-up.html" class="link">Registrate</a></p>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
