@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="bg-light py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-content-404">
                    <h2 class="text-primary">Felicidades! </h2>
                    <p class="mb-9">Su cuenta se creo exitosamente. Le hemos enviado un enlace a su email para confirmar su cuenta, una vez confirmada puede iniciar sesión y disfrutar de los beneficios de Brújula Pyme .</p>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Inicio</a>
                </div>


            </div>
        </div>
    </div>
</section>