@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="py-7 py-md-10">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- Default Blog -->
                <div class="card border-0 bg-transparent">
                    <a href="#">
                        <img class="card-img-top rounded lazyestload" data-src="/img/banner/plantillaCursoConstruccion.png" src="/img/banner/plantillaCursoConstruccion.png" alt="Card image cap">
                    </a>
                    <div class="card-body p-0 pt-5">
                        <div class="meta-post">
                            @*<date class="meta-date">July 22, 2019</date>*@
                            <span class="meta-author"> Por <a href="javascript:void(0)">Equipo Brújula Pyme</a></span>
                        </div>
                        <h3 class="card-title">
                            <a href="#">Curso básico para crear la pagina web de tu negocio </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                    </div>
                </div>

                <hr class="mb-8">

                <div class="card border-0 bg-transparent">
                    <a href="#">
                        <img class="card-img-top rounded lazyestload" data-src="/img/banner/plantillaCursoConstruccion.png" src="/img/banner/plantillaCursoConstruccion.png" alt="Card image cap">
                    </a>
                    <div class="card-body p-0 pt-5">
                        <div class="meta-post">
                            @*<date class="meta-date">July 22, 2019</date>*@
                            <span class="meta-author"> Por <a href="javascript:void(0)">Equipo Brújula Pyme</a></span>
                        </div>
                        <h3 class="card-title">
                            <a href="#">Curso de creación de catalogos de productos </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                    </div>
                </div>
                <hr class="mb-8">
                <div class="card border-0 bg-transparent">
                    <a href="#">
                        <img class="card-img-top rounded lazyestload" data-src="/img/banner/plantillaCursoConstruccion.png" src="/img/banner/plantillaCursoConstruccion.png" alt="Card image cap">
                    </a>
                    <div class="card-body p-0 pt-5">
                        <div class="meta-post">
                            @*<date class="meta-date">July 22, 2019</date>*@
                            <span class="meta-author"> Por <a href="javascript:void(0)">Equipo Brújula Pyme</a></span>
                        </div>
                        <h3 class="card-title">
                            <a href="#">Curso para ventas por whatsapp </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
</section>