<section class="bg-light py-8">
    <div class="container">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <nav aria-label="breadcrumb">
                <h2 class="breadcrumb-title text-center mb-4">¿Qué es Brújula Pyme?</h2>
                @*<ul class="breadcrumb bg-transparent justify-content-center p-0 m-0">
                    <li class="breadcrumb-item"><a asp-area="Home" asp-controller="Home" asp-action="Index">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">¿Qué es Brújula Pyme?</li>
                </ul>*@
            </nav>

        </div>
        <p style="text-align:center;">
            Brújula Pyme es un directorio digital online para negocios de servicios que tiene como objetivo darte un espacio en internet a
            través de nuestras fichas digitales para que llegues a más clientes, por otro lado brindamos a los emprendedores cursos y herramientas digitales  
            para que se capaciten y logren empoderar su negocio con nuevas habilidades.
            También deseamos ayudar a nuestros usuarios a contactar y conocer negocios locales.
        </p>
    </div>
 
</section>

<!-- Grid wrapper for ell elements -->
<div class="element-wrapper">


    <!-- ====================================
    ———	How It Works
    ===================================== -->
    <section class="py-7 py-md-10">
       
        <div class="container">
          
            <div class="row pb-6 pb-md-9">
                <div class="col-sm-4 col-xs-12 order-md-1">
                    <div class="text-center text-md-right my-5 my-md-0">
                        <img class="lazyestload" srcset="/img/works/works-big-1.png" data-src="/img/works/works-big-1.png" src="" alt="Image Works">
                    </div>
                </div>
                <div class="col-sm-8 col-xs-12">
                    <div>

                        <span class="mb-2 d-inline-block">Paso 1</span>
                        <h2 class="h4 mb-4">Encuentra lo que necesitas</h2>
                        <p>
                            Busca entre todas las opciones de negocios locales que tenemos. Estamos trabajando para agregar más negocios locales para que conozcas.
                        </p>
                    </div>
                </div>
            </div>

            <hr class="my-5">

            <div class="row py-5 py-md-9">
                <div class="col-sm-4 col-xs-12">
                    <div class="text-center text-md-left mb-5 mb-md-0">
                        <img style="width: 230px; border-radius: 130px; height: 219px; background: #070744;" class="lazyestload" data-src="/img/works/plan_yor_day.png" src="/img/works/plan_yor_day.png" alt="Image Works">
                    </div>
                </div>
                <div class="col-sm-8 col-xs-12">
                    <div class="text-left text-md-right">
                        <span class="mb-2 d-inline-block">Paso 2</span>
                        <h2 class="h4 mb-4">Revisa y planea tu día</h2>
                        <p>
                            Tenemos toda la información de los negocios centralizada en un solo lugar, también podrás contactarte con
                            ellos desde su ficha digital a través del boton de contacto.
                        </p>
                        @*Revisa los cupones de descuento que algunos negocios tienen habilitado .*@
                    </div>
                </div>
            </div>

            <hr class="my-5">

            <div class="row pt-5 pt-md-9">
                <div class="col-sm-4 col-xs-12 order-md-1">
                    <div class="text-center text-md-right mb-5 mb-md-0">
                        <img class="lazyestload" data-src="/img/works/works-big-2.png" src="/img/works/works-big-2.png" alt="Image Works">
                    </div>
                </div>
                <div class="col-sm-8 col-xs-12">
                    <div>
                        <span class="mb-2 d-inline-block">Paso 3</span>
                        <h2 class="h4 mb-4">Comparte</h2>
                        <p>Deja un comentario acerca del servicio de cada negocio para ayudar a otros usuarios a elegir. Ayuda a otros usuarios a conocer negocios locales y tener más opciones de compra.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



</div> 