<section class="bg-light py-8">
    <div class="container">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <nav aria-label="breadcrumb">
                <h2 class="breadcrumb-title text-center mb-4">Terminos y Condiciones de Servicio</h2>
                <ul class="breadcrumb bg-transparent justify-content-center p-0 m-0">
                    <li class="breadcrumb-item"><a asp-area="Home" asp-controller="Home" asp-action="Index">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Terminos y Condiciones de Servicio</li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<!-- Grid wrapper for ell elements -->
<div class="element-wrapper">


    <!-- ====================================
    ———	TERMS OF SERVICES
    ===================================== -->
    <section class="py-7 py-md-10">
        <div class="container">

            <p class="mb-7">Para usar Brújula Pyme, asegúrese de leer y cumplir los siguientes términos y condiciones.</p>
            <hr>

            <div class="py-6">
                <h3 class="h4">Uso razonable del sitio</h3>
                <p class="mb-0">No nos hacemos responsables de los daños causados por el uso de este sitio web, 
                o por la publicación de anuncios de negocios aquí. Por favor, utilice nuestro sitio a su propia 
                discreción y ejerza el buen juicio así como el sentido común cuando anuncie negocios aquí o busque servicios/negocios.</p>
            </div>
            <hr>

            <div class="py-6">
                <h3 class="h4">Eliminación de negocios</h3>
                <p class="mb-0">Nos reservamos el derecho a eliminar cualquier anuncio de negocios si consideramos que infringe 
                alguna ley o si contiene material censurable como contenido para adultos (incluyendo imágenes, lenguaje vulgar,
                contenido o enlaces).</p>
            </div>
            <hr>

            <div class="py-6">
                <h3 class="h4">Seguridad y privacidad</h3>
                <p class="mb-0">
                    Hacemos todo lo posible para mantener su información personal segura, utilizando
                    la última tecnología en seguridad de Internet. Sin embargo, debe ser consciente de que
                    nuestro sitio, al igual que cualquier otro, puede ser potencialmente un objetivo para los hackers.
                    Le rogamos que no publique en el sitio ninguna información sensible o que
                    no desee que se divulgue en caso de una improbable violación de la seguridad.
                    Utilizamos cookies para almacenar información localmente para funciones avanzadas del 
                    funcionamiento del sitio, como favoritos,
                    notas y alertas. Sus datos de contacto solo se comparten con negocios registrados en Brújula Pyme siempre
                    y cuando usted como usuario nos de permiso y tenga habilitada la opción 
                    <strong>Acepto recibir mensajes sobre promociones y servicios, puedes desuscribirte cuando quieras</strong>, la cual puede activar o desactivar cuando necesite .

                    @*<a href="#">privacy policy</a>.*@
                </p>
            </div>
            <hr>

            @*<div class="py-6">
                <h3 class="h4">Governing Law</h3>
                <p class="mb-0">These Terms shall be governed and construed in accordance with the laws of Ontario, Canada, without regard to its conflict of law provisions. Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>
            </div>
            <hr>*@

            <div class="py-6">
                <h3 class="h4">Contáctenos</h3>
                <p class="mb-0">
                    si tiene alguna pregunta, duda o sugerencia sobre estas condiciones, por favor
                    <a asp-area="Home" asp-controller="Home" asp-action="ContactUs">contactenos</a>.
                </p>
            </div>
        </div>
    </section>


</div> <!-- element wrapper ends -->