<!-- ====================================
———	breadcrumb
===================================== -->
<section class="bg-light py-8">
    <div class="container">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <nav aria-label="breadcrumb">
                <h2 class="breadcrumb-title text-center mb-4">Sobre Nosotros</h2>
              
            </nav>
        </div>
    </div>
</section>

<!-- Grid wrapper for ell elements -->
<div class="element-wrapper">


    <!-- ====================================
    ———	TERMS OF SERVICES
    ===================================== -->
    <section class="py-7 py-md-10">
        <div class="container">

          

            <div class="py-6">
                <h3 class="h4">Misión</h3>
                <p class="mb-0">Ayudamos a las pymes y emprendedores a tener presencia digital y educación para potenciar sus negocios.</p>
            </div>
            <hr>

            <div class="py-6">
                <h3 class="h4">Visión</h3>
                <p class="mb-0">Ser la plataforma más grande de apoyo educativo y tecnológico para pymes y emprendedores.</p>
            </div>
            <hr>

            <div class="py-6">
                <h3 class="h4">¿Quiénes Somos?</h3>
                <p class="mb-0">
                    Somos un emprendimiento digital 100% nicaragüense, a lo largo de los años hemos visto una ausencia de apoyo educativo
                    en temas tecnologicos para las pymes y emprendedores, por esa razón nace Brujula Pyme, para ser una plataforma que los ayude a tener mejor presencia digital
                    y un apoyo educativo en el uso de la tecnologia y de esa manera que logren potenciar sus negocios.

                </p>
            </div>
          
        </div>
    </section>

    </div>
