@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="bg-light py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-content-404">
                    <h2 class="text-primary">@ViewData["MessageResponse"].ToString() </h2>
                    @*<p class="mb-9">Inicie sesión y disfrute de la plataforma Brújula Digital.</p>*@
                    <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Iniciar sesión</a>
                </div>


            </div>
        </div>
    </div>
</section>