@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<section class="bg-light py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-content-404">
                    <h1 class="text-primary">OOPS! </h1>
                    <p class="mb-9">No tienes acceso a esta página!  </p>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Inicio</a>
                </div>

            
                 
                     
                   
               
            </div>
        </div>
    </div>
</section>