@model AppDirectorioWeb.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<section class="bg-light py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-content-404">
                    <h2 class="text-primary">OOPS, algo salio mal! </h2>
                    <p class="mb-9">Intentelo de nuevo o contáctenos: info@brujulapyme.com  </p>
                    <a asp-area="Home" asp-controller="Home" asp-action="Index" class="btn btn-primary">Inicio</a>
                </div>
 
               
            </div>
        </div>
    </div>
</section>