
@{
    ViewData["Title"] = "Confirmación de creación de negocio";
}



<section class="py-7 py-md-10 comingsoon-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
           
                <div class="py-7 py-md-9">
                    <h1>Registro exitoso!</h1>
                    <p>Su registro fue completado con exito, se le envio un correo a su usuario admin para verificar la cuenta. Su negocio no saldrá aún en el directorio de Brujula Pyme ya que nuestros moderadores deben validar la información, una vez verificada, revise el status en el menú "Mis Negocios"".</p>
                  <br />
                    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Iniciar Sesión</a>
                </div>

            
               
            </div>
        </div>
    </div>
</section>

