
@{
    ViewData["Title"] = "Confirmación de creación de negocio";
}



<section class="py-7 py-md-10 comingsoon-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">

                <div class="py-7 py-md-9">
                    <h1>Registro guardado!</h1>
                    <p>Recuerde que siempre que se guarde un negocio o se actualice su información, nuestros moderadores deben revisar y aprobarlo para que este publicado en Brujula Pyme, revise el status en el menú "Mis Negocios"".</p>
                    <br />
                    <a class="btn btn-primary" asp-area="Negocios" asp-controller="Negocios" asp-action="AdminBusiness">Mis Negocios</a>
                </div>



            </div>
        </div>
    </div>
</section>

