@model Models.ViewModels.CuponeraViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Crear Cupón";
}

<section class="py-7 py-md-10 bg-light height100vh">
    <div class="container">
        <div class="border p-6 p-lg-9 bg-white">
            <div class="row">
                <div class="col-md-6 col-xs-12 pr-md-6 pr-lg-9">
                    <form enctype="multipart/form-data" asp-action="Add" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="IdNegocio"/>
                        @if (Model.Id != 0)
                        {
                            title = "Actualizar Cupón";
                        }
                        <h2 class="h3 mb-6">@title</h2>
                        <div class="form-group mb-6">
                            <label asp-for="DescripcionPromocion"></label>
                            <input asp-for="DescripcionPromocion" type="text" class="form-control border" placeholder="Descripción promoción">
                            <span asp-validation-for="DescripcionPromocion" class="text-danger"></span>
                        </div>


                        <div class="form-group mb-6">

                            <div class="form-check">
                                <input class="form-check-input" value="Per" type="radio" name="TypeCupon" id="TypeCupon" checked="" />
                                <label class="form-check-label" asp-for="DescuentoPorcentaje"></label>
                            </div>


                            <div class="form-check">
                                <input class="form-check-input" value="Mon" type="radio" name="TypeCupon" id="TypeCupon" />
                                <label class="form-check-label" asp-for="DescuentoMonto">  </label>
                            </div>
                            <input type="hidden" asp-for="DescuentoMonto" />
                            <input type="hidden" asp-for="DescuentoPorcentaje" />
                        </div>
                        @*control opcional cuando se elija tipo descuento por monto efectivo para elegir moneda*@
                        <div id="divTipoMoneda" class="form-group mb-6">
                            <label>Tipo Moneda</label>
                            <select id="cboIdMoneda" class="form-control">
                                <option value="1">(C$) Córdobas</option>
                                <option value="2">($) Dólares</option>

                            </select>
                            <input asp-for="MonedaMonto" type="hidden" />

                        </div>

                        <div class="form-group mb-6">
                            <label asp-for="ValorCupon"></label>
                            <input asp-for="ValorCupon" class="form-control border" placeholder="Valor del cupón">
                            <span asp-validation-for="ValorCupon" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-6">
                            <label asp-for="CantidadCuponDisponible"></label>
                            <input asp-for="CantidadCuponDisponible" class="form-control border" placeholder="Cantidad de cupones disponibles">
                            <span asp-validation-for="CantidadCuponDisponible" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-6">
                            <label asp-for="FechaExpiracionCupon"></label>
                            <input asp-for="FechaExpiracionCupon" type="date" class="form-control border" placeholder="Fecha de expiración cupón">
                            <span asp-validation-for="FechaExpiracionCupon" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-12">
                            <input accept="image/*" asp-for="PictureCupon" class="form-control custom-file-input cfi">
                            <label class="custom-file-label cfl">Selecciona imagen para el cupón...</label>
                            <span class="text-danger field-validation-error"><span id="picVal" class=""></span></span>
                        </div>

                        <div class="form-group mb-6">
                            <div class="form-check">

                                <input asp-for="Status" class="form-check-input" type="checkbox" id="chkboxActivo">
                                <label class="form-check-label" for="gridCheck">
                                    Activo

                                </label>
                            </div>
                        </div>

                        <div class="form-group mb-0">
                            @if (Model.Id != 0)
                            {
                                <button type="submit" class="btn btn-primary text-uppercase py-2 px-4">Actualizar</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary text-uppercase py-2 px-4">Guardar</button>
                            }

                            <a asp-area="Catalogos" asp-action="Index" asp-controller="CatCategory" class="btn btn-warning text-white text-uppercase py-2 px-4">Regresar</a>
                        </div>

                        <hr class="my-7 d-md-none">
                    </form>
                </div>


            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Handlers/addCuponHandler.js"></script>
}
