@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

@*<section class="py-7 py-md-10 comingsoon-wrapper">*@
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
               
                <div class="py-7 py-md-9">
                    <h1>Tu cuenta ha sido desactivada</h1>
                    <p><a asp-area="Identity" asp-page="/Account/Login" >Prueba de nuevo iniciar sesión</a> ó contacta con soporte técnico</p>
                </div>

                <div class="count-down text-center mb-7 mb-md-10">
                    <div class="simple_timer"></div>
                </div>
            </div>
        </div>
    </div>
@*</section>*@