@page
@model RegisterModel
@using Utiles;
@{
    ViewData["Title"] = "Register";
}

<section class="py-7 py-md-10 bg-light height100vh">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-xl-7">
                <div class="bg-white p-5 rounded border">
                    <h2 class="font-weight-normal mb-4">Crea tu cuenta</h2>
                    <p>
                        Complete los campos a continuación para crear su cuenta. Una vez completado el registro, enviaremos un correo  para que confirme y active su cuenta.
                        Si ya tienes un
                        cuenta, por favor,
                        <a asp-controller="Account" asp-action="Login">ingrese aquí</a>.
                    </p>

                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="py-7">
 
                        <h3 class="h4 font-weight-normal mb-4">Información de cuenta</h3>
          
                        <div class="form-group mb-8">


                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                            @*@if (!string.IsNullOrEmpty(ViewData["UsuarioExiste"].ToString()))
                            {
                                <span  class="text-danger">@ViewData["UsuarioExiste"].ToString()</span>
                            }*@
                        </div>
                        <div class="form-group mb-8">
                           

                            <label asp-for="Input.FullName"></label>
                            <input asp-for="Input.FullName" class="form-control" />
                            <span asp-validation-for="Input.FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-8">
                       

                            <label asp-for="Input.Telefono"></label>
                            <input asp-for="Input.Telefono" class="form-control" />
                            <span asp-validation-for="Input.Telefono" class="text-danger"></span>
                        </div>
                        <div class="row mb-6">
                            <div class="form-group col-md-6 mb-4">
                    

                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6 mb-4">
            

                                <label asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>

                        </div>

              
                        @if (User.IsInRole(SP.Role_Admin))
                        {
                            <div class="form-group mb-8">


                                <label asp-for="Input.Role"></label>
                                @Html.DropDownListFor(m => m.Input.Role, Model.Input.RoleList, "- SELECCIONA UN TIPO -", new { @class = "form-control" })
                                <span asp-validation-for="Input.Role" class="text-danger"></span>
                            </div>

                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.Input.Role, Model.Input.RoleList, new { @class = "form-control" , @style = "display:none" })
                        }


                        <input asp-for="Input.IdPlan" value="1" type="hidden"/>

                        <div class="form-group mb-6">
                            <div class="checkbox">
                                <label>
                                    <input id="chkTerm" type="checkbox">
                                    Estoy de acuerdo con los <a target="_blank" asp-area="Home" asp-controller="Home" asp-action="GetTermsAndConditions">Terminos y Condiciones de Uso</a>.
                                </label>
                            </div>
                        </div>

                        <div class="form-group mb-6">
                            <div class="checkbox">
                                <label>
                                    <input asp-for="Input.NotificationsPromo" type="checkbox">
                                    Acepto recibir mensajes sobre promociones y servicios, puedes desuscribirte cuando quieras.
                                </label>
                            </div>
                        </div>

                        <button id="btnCrearCuenta" type="submit" class="btn btn-primary"> Crear cuenta </button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
<script>
    $('#btnCrearCuenta').attr("disabled", true);

  

    $('#chkTerm').click(function () {
        if (document.getElementById('chkTerm').checked) {
            $(":submit").removeAttr("disabled");
        } else {
            $('#btnCrearCuenta').attr("disabled", true);
        }
    });
</script>
}
