@{
    ViewData["Title"] = "Home Page";
}
<section class="banner" style="        background-image: url(../img/background/tiendas_comercio_ventas_1.jpg);">
    <div class="container">
        <div class="row text-center align-items-center justify-content-center" style="height:440px;">
            <div class="col-12">
                <!-- Banner Info -->
                <div class="banner-info">
                    <h1 class="text-uppercase text-white mb-4">
                        Explora. Descubre. Comparte
                    </h1>
                    <p class="lead text-white">
                        Listty te ayuda a encontrar increibles negocios a tu alrededor
                    </p>
                </div>

                <!-- Search Box -->
                <div class="search-box-2">
                    <form class="row g-2 justify-content-center" asp-controller="Home" asp-action="SeachBussines" method="GET" >

                        <div class="form-group col-md-5 col-lg-4 mb-0">
                            <div class="input-group mb-2">
                                <div class="input-group-text">Buscar</div>
                                <input type="text" class="form-control" placeholder="Que estas buscando?">
                            </div>
                        </div>

                        <div class="form-group prepend-append col-md-5 col-lg-4 mb-0">
                            <div class="input-group mb-2">
                                <div class="input-group-text">Cerca de</div>
                                <input type="text" id="txtplaces" class="form-control" placeholder="Ubicación">
                                @*<span  class="input-group-text bg-white ps-1" data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="Usar mi ubicación">
                                    <i class="icon-listy icon-target" aria-hidden="true"></i>
                                </span>*@
                                <button onclick="geolocate()" type="button" class="input-group-text bg-white ps-1" data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="Usar mi ubicación">

                                    <i class="icon-listy icon-target" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>

                        <div class="form-group col-md-3 col-lg-2 mb-0">
                            <button  type="submit" class="btn btn-primary w-100">
                                Buscar
                                <i class="fas fa-search" aria-hidden="true"></i>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpu1uIOHN3nx3y6dzStDmtSZD83-Jebx0&sensor=false&libraries=places"></script>
@*<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpu1uIOHN3nx3y6dzStDmtSZD83-Jebx0&callback=initMap"></script>*@
<script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', function () {
        var places = new google.maps.places.Autocomplete(document.getElementById('txtplaces'));

        google.maps.event.addListener(places, 'place_changed', function () {
            var place = places.getPlace();
            var address = place.formatted_address;
            var latitude = place.geometry.location.lat();
            var longitude = place.geometry.location.lng();
            var msg = "Address: " + address;
            msg += "\nLatitude: " + latitude;
            msg += "\nLongitude: " + longitude;
      
        });
    });

    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = new google.maps.LatLng(
                    position.coords.latitude, position.coords.longitude);
                console.log(position);
              
                $.ajax({
                    url: 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + position.coords.latitude + ',' + position.coords.longitude + '&key=AIzaSyDpu1uIOHN3nx3y6dzStDmtSZD83-Jebx0&sensor=true',
                    success: function(data) {
                        document.getElementById('txtplaces').value = data.results[1].formatted_address;
                       
                    }
                });
                
            });
        }
    }
</script>
