
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@*@if (User.Identity.HavePermission(Roles.Admin) == true)
{
    <h1>soy adminnnn</h1>
}*@
